.nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    padding-right: 10px;
    padding-left: 10px;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Reset color to the inherited value */
}

a:hover {
    color: gray;
}